body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}

.container {
  margin: 0px auto;
  width: 1108px;
}

.header {
  background-image: url(images/bg.jpg);
  height: 100vh;
  background-repeat: non-repeat;
  background-size: cover;
}

.header-line {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;

  margin-right: 25px;

  transition: color 0.3s linear;
}

.nav-item:hover {
  color: #ff7400;
}

.cart {
  position: relative;
  border-right: 1px solid #ffffff;
  padding-right: 10px;
  height: 50px;
}

.cart-img {
  position: absolute;
  top: 18px;
  right: 7px;
}

.num {
  color: #fff;
  text-decoration: none;
  font-weight: 700;

  transition: color 0.3s linear;
}

.num:hover {
  color: #ff7400;
}

.phone-text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.phone-holder {
  display: flex;
  align-items: center;
}

.button {
  background-color: #ff7400;
  color: #fff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;

  transition: background-color 0.2s linear;
}

.button:hover {
  background-color: #804311;
}

.header-down {
  position: relative;
}

.header-title {
  color: #d67e35;
  font-family: "Tinos", serif;
  font-size: 50px;
  font-weight: 400;

  text-align: center;
  position: absolute;
  left: 0;

  margin-top: 222px;

  margin-bottom: 12px;
}

.header-subtitle {
  color: #d67e35;
  font-family: "Tinos", serif;
  font-size: 80px;
  font-weight: 400;
}

.header-suptitle {
  color: #fff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.header-suptitle:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 61px;
  background-color: #fff;
  top: 165px;
  left: 331px;
}

.header-suptitle:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 61px;
  background-color: #fff;
  top: 165px;
  left: 85px;
}

.header-buttom {
  background-color: #ff7400;
  padding: 14px 28px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.header-buttom:hover {
  background-color: #804311;
}

.cards-holder {
  display: flex;
  justify-content: center;
}

.card {
  width: 349px;
  box-shadow: 10px 10px 40px 20px #0000001a;
  margin-right: 31px;
  background-color: #ffffff;
  margin-top: -80px;
  font-family: "Tinos", serif;
  font-size: 26px;
  padding: 10px 20px;
}

.card-image {
  display: flex;
  justify-content: center;
  padding-top: 31px;
}

.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 400;
}

.card-desc {
  text-align: center;
  font-weight: 400;
  color: #656363;
}

.card-title span {
  color: #d67e35;
  margin-left: 5px;
}

.history {
  margin-top: 166px;
  padding-bottom: 200px;
}

.history-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  width: 444px;
  text-align: center;
}

.history-title span {
  color: #d67e35;
}

.history-desc {
  color: #656363;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 444px;
  text-align: center;
  margin-top: 25px;
}

.h-num {
  display: block;
  align-items: center;
  padding-left: 35px;
  padding-right: 35px;
}

.history-num {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #bc9060;
}

.history-text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.history-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 444px;
  margin-top: 75px;
  flex-wrap: wrap;
}

.history-images {
  position: relative;
}

.history-holder {
  display: flex;
}

.images-1 {
  position: absolute;
  z-index: 0;
  top: 54px;
  left: 211px;
}

.images-2 {
  position: absolute;
  z-index: 999;
  top: -92px;
  left: 383px;
}

.images-3 {
  position: absolute;
  z-index: 999;
  top: 241px;
  left: 486px;
}

.black-block {
  background-image: url(images/bg11.jpg);
  width: auto;
  height: 357px;
  display: block;
  background-repeat: non-repeat;
  background-size: auto;
}

.left-title {
  font-family: "Tinos", serif;
  color: #d67e34;
  font-size: 52px;
  font-weight: 400;
}

.left-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 20px;
}

.rightbtm {
  background-color: #ff7400;
  color: #fff;
  text-decoration: none;
  padding: 14px 18px;
  font-weight: 700;

  transition: background-color 0.2s linear;
}

.rightbtm:hover {
  background-color: #804311;
}

.block-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 20px;
}

.dishes {
  padding-bottom: 120px;
}

.dishes-title {
  text-align: center;
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  padding-top: 132px;
}

.dishes-title span {
  color: #d67e34;
}

.dishes-burgers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dishes-m {
  display: block;
}

.dishes-menu {
  display: flex;
  justify-content: center;
  padding-top: 139px;
}

.pizza {
  margin-right: 20px;
  height: 478px;
}

.dishes-image {
  margin-top: 3px;
  margin-bottom: 25px;
}

.burger-text {
  display: flex;
  width: 475px;
  align-items: center;
  font-family: "Tinos", serif;
  font-size: 26px;
  font-weight: 400;
  margin-left: 20px;
}

.burger-line {
  border-bottom: 2px dashed black;
  width: 40%;
  height: auto;
}

.b-text {
  margin: 0 10px;
}

.menu {
  background-image: url(images/bg12.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.menu-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 138px;
}

.menu-recommended {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  background-color: #d67e34;
  color: black;
  padding: 10% 14%;
}

.menu-item1,
.menu-item2,
.menu-item3 {
  background-color: #ffffff;
  text-align: center;
  width: 300px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-right: 20px;
}

.menu-text {
  font-family: "Tinos", serif;
  font-size: 26px;
  padding-top: 16px;
  padding-bottom: 17px;
}

.menu-subtext {
  font-size: 16px;
}

.menu-btn {
  background: #d67e34;
  text-decoration: none;
  padding: 14px 68px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px #00000040;
}

.menu-button {
  margin-top: 20px;
}

.menu-img {
  width: 90%;
}

.menu-image {
  position: relative;
}

.menu-items {
  display: flex;
  justify-content: center;
}

.comment {
  background-color: #e5e5e5;
  padding-top: 104px;
  padding-bottom: 139px;
}

.comment-text {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.comment-img {
  border-radius: 50px;
}

.comment-image {
  text-align: center;
}

.comment-type {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.comment-name {
  margin-top: 9px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.gallery-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 60px;
}

.gallery-title span {
  color: #d67e34;
}

.gallery-content {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.gallery-left {
  margin-right: 20px;
}

.gallery-down,
.gallery-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cook {
  margin-bottom: 100px;
}

.cook-title {
  font-family: "Tinos", serif;
  font-size: 54px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.cook-title span {
  color: #d67e34;
}

.cook-content {
  display: flex;
  justify-content: center;
}

.cook-content img {
  margin-right: 20px;
}

.footer {
  background-color: #000000;
  padding: 56px 0px;
  color: #ffffff;
  text-align: center;
}

.burger-menu-main {
  display: none;
}

.container {
  width: 1200px;
}

.block {
  display: block;
}

.burger-slide {
  position: absolute;
}

.nav-item {
  font-size: 15px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.disp {
  display: none;
}

.container {
  width: 1200px;
}

@media (max-width: 1300px) {
  .container {
    width: auto;
  }

  .gallery-content {
    display: block;
  }

  .img-gall,
  .gallery-up,
  .gallery-down {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img-gall {
    margin-bottom: 20px;
  }

  .gallery-left {
    margin-right: 0;
  }

  .header-title {
    position: static;
  }

  .header-suptitle::after,
  .header-suptitle::before {
    content: none;
  }

  .cook-content {
    display: block;
  }

  .cook-content img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  .black-block {
    width: auto;
    height: 357px;
  }

  .block-holder {
    display: block;
    text-align: center;
  }

  .left-title {
    padding: auto auto;
  }

  .left-title,
  .left-text,
  .right-button {
    text-align: center;
  }

  .right-button {
    margin-top: 20px;
  }

  .history-images {
    display: none;
  }

  .container {
    margin: auto 10px;
  }

  .history-desc {
    font-size: 14px;
  }

  .history-number {
    justify-content: center;
    padding-right: 25px;
  }

  .history-title,
  .history-desc,
  .history-number {
    width: auto;
  }

  .history-info {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .burger-menu-main {
    display: block;
  }

  .nav,
  .cart,
  .phone,
  .botton {
    display: none;
  }

  .header-line {
    justify-content: space-between;
    margin-right: 20px;
  }

  .pizza {
    display: none;
  }

  .cards-holder {
    display: block;
  }

  .card {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .left-title {
    font-size: 37px;
  }

  .left-text {
    font-size: 26px;
    padding-bottom: 20px;
  }

  .rightbtm {
    font-size: 15px;
    padding: 10px;
  }

  .black-block {
    height: auto;
  }

  .burger-line {
    display: none;
  }

  .burger-text {
    width: auto;
    display: block;
    text-align: center;
    margin: 0px 0px;
  }

  .img-gall {
    width: 274px;
    height: 255px;
    object-fit: cover;
  }

  .menu-item2,
  .menu-item3 {
    display: none;
  }
}

@media (max-width: 510px) {
  .cook-content {
    margin-right: auto;
    margin-left: auto;
  }

  .cooker-content {
    height: 310px;
    width: 274px;
    object-fit: cover;
  }

  .history-number {
    display: block;
    padding-right: 0px;
  }

  .h-num {
    padding-bottom: 20px;
  }

  .header-title {
    margin-top: 100px;
    font-size: 30px;
  }

  .header-subtitle {
    font-size: 45px;
  }

  .header-btm {
    margin-top: 120px;
  }
}
